
<div class="panel-body">
       <form name="pdd" action="show_por_regiao" method="post">

            <%= render 'partials/cadastro_geral/inputs/ddd'%>

            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>
  
  