<div class="panel-body">
       <form name="cadastro" action="salvo" method="post">
           <div class="form-group">
                <label for="exampleInputPassword1">Nome fantasia</label>
                <input type="text" name="usrname" value="" class="form-control"  >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> CNPJ</label>
                <input type="text" name="usrname" value="" class="form-control"  >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nome</label>
                <input type="text" name="usrname" value="" class="form-control"  >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">CPF</label>
                <input type="number" name="usrcpf" class="form-control" value= "">
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Endereço</label>
                <input type="text" name="usraddr" class="form-control" value="" >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Cidade</label>
                <input type="text" name="usradcit" class="form-control" value="" >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Estado</label>
                <input type="text" name="usraduf" class="form-control" value="" >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Região</label>
                <input type="text" name="usrarea" class="form-control" value="" >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Bairro</label>
                <input type="text" name="usrbairro" class="form-control" value="">
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">CEP</label>
                <input type="number" name="usradcep" class="form-control" value="" >
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Telefone</label>
                <input type="number" name="usrphone" class="form-control" value="" >
            </div>
            
            
        
            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>