<div class="panel-body">
       <form name="cadastro" action="define_preco_gas" method="post">
            <%= render 'partials/cadastro_geral/estado'%>
            <%= render 'partials/cadastro_geral/cidade'%>
            <%= render 'partials/cadastro_geral/regiao'%>
            <%= render 'partials/cadastro_geral/valor'%>
            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>