<div class="panel panel-primary">
  <div class="panel-heading">Listar PDV's</div>

  <div class="panel-body">
    <center>
    <button type="button" class="btn btn-default"><%=link_to 'listar por região',pdv_listar_por_representante_path%> <i class="fa fa-globe" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-default"><%=link_to 'listar por representante',pdv_listar_por_representante_path%> <i class="fa fa-suitcase" aria-hidden="true"></i></button>
    </center>
  </div>
  <div class="panel-footer">Panel footer</div>

</div>
<%=render 'partials/mapa/mapa'%>