<div class="panel panel-primary">
  <div class="panel-heading">Listar PDV's</div>

  <div class="panel-body">
    <button type="button" class="btn btn-primary">Listar por região <i class="fa fa-globe" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-primary">Listar por representante <i class="fa fa-suitcase" aria-hidden="true"></i></button>
    
  </div>
  <div class="panel-footer">Panel footer</div>

</div>
<%=render 'partials/mapa/mapa'%>