<div class="panel panel-primary">
    <div class="panel-heading"><center>Escolha o regime da pesquisa</center></div>
  <div class="panel-body">
      <center>
          
             <%= link_to pdv_listar_por_regiao_path ,class:"btn btn-info" do %>
              <i class="fa fa-globe" aria-hidden="true">
                  Região
              </i>
             <% end %>
             
             <%= link_to pdv_listar_por_representante_path ,class:"btn btn-info" do %>
              <i class="fa fa-suitcase" aria-hidden="true">
                  Representante
              </i>
             <% end %>
          
      </center>
    
  </div>
  <div class="panel-footer"></div>
</div>