<div class="panel panel-primary">
    <div class="panel-heading"><center>Escolha o regime da pesquisa</center></div>
  <div class="panel-body">
      <center>
          
             <%= link_to pdv_relatorios_detalhado_vendas_agua_path ,class:"btn btn-info" do %>
              <i class="fa fa-globe" aria-hidden="true">
                   Relatorios  detalhado venda de Agua
              </i>
             <% end %>
             <%= link_to pdv_relatorios_resumido_vendas_agua_path ,class:"btn btn-info" do %>
              <i class="fa fa-globe" aria-hidden="true">
                   Relatorios  detalhado venda de Agua
              </i>
             <% end %>
             
              
          
      </center>
    
  </div>
  <div class="panel-footer"></div>
</div>