<div class="panel panel-primary">
    <div class="panel-heading"><center>Escolha o regime da pesquisa</center></div>
  <div class="panel-body">
      <center>
          
            <%= link_to pdv_relatorios_detalhado_vendas_credito_cell_path ,class:"btn btn-info" do %>
              <i class="fa fa-globe" aria-hidden="true">
                   Relatorios  detalhado venda de Credito de celular
              </i>
             <% end %>
             <%= link_to pdv_relatorios_resumido_vendas_credito_cell_path ,class:"btn btn-info" do %>
              <i class="fa fa-globe" aria-hidden="true">
                   Relatorios  resumido venda de credito de celular
              </i>
             <% end %>
          
          
      </center>
    
  </div>
  <div class="panel-footer"></div>
</div>