                   
                   
                           <form name="<%=@contexto_name%>" action="atualizar" method="post">
                               <input type="hidden" name="id" value=<%=@id%>>
                               <br>
                               <button type="submit" class="btn btn-info">Atualizar cadastro <i class="fa fa-user" aria-hidden="true"></i></button>
                           </form>
                   