                        
                           <form name="pdv" action="excluir" method="post">
                           <input type="hidden" name="id" value=<%=@id%>>
                           <br>
                           <button type="submit" class="btn btn-danger">Excluir cadastro <i class="fa fa-trash" aria-hidden="true"></i></button>
                           </form>
                       