 <form name="pdd" action="exibir" method="post">
            <input type="hidden" name="id" value=<%=item['_id']%>>
            <br>
            <button type="submit" class="btn btn-success">exibir <i class="fa fa-eye" aria-hidden="true"></i></button>
        </form>