<form name="representante" action="excluir_representante" method="post">
                           <input type="hidden" name="id" value=<%=@id%>>
                           <br>
                           <button type="submit" class="btn btn-success">Gerenciar PDV <i class="fa fa-cogs" aria-hidden="true"></i></button>
                           </form>