 <form name="representante" action="excluir_representante" method="post">
                           <input type="hidden" name="id" value=<%=@id%>>
                           <br>
                           <button type="submit" class="btn btn-warning">Solicitar Relatorios <i class="fa fa-table" aria-hidden="true"></i></button>
                           </form>