 <form name="pdv" action="relatorios_unitarios" method="post">
       <input type="hidden" name="rep_id" value=<%=@rep_%>>
        <br>
       <button type="submit" class="btn btn-warning">Solicitar Relatorios <i class="fa fa-table" aria-hidden="true"></i></button>
</form>