 
             <div class="form-group">
                <label for="exampleInputPassword1">Bairro</label>
                <input type="text" name="bairro" class="form-control" value="">
            </div>