<div class="form-group">
                <label for="exampleInputPassword1">Confirme sua senha</label>
                <input type="password" name="passwd" class="form-control" value="" >
            </div>