
             <div class="form-group">
                
                <input name="cep" type="text" class="form-control" id="cep" value=""  maxlength="9"
               onblur="pesquisacep(this.value);" /></label><br />
            </div>
            
            
            
    
