<div class="form-group">
                 <input type="tel" required="required" maxlength="2" name="ddd" class="form-control" pattern="[0-9]+$"title="Armando, para de tentar zuar meus formularios uehueheuh" />
            </div>