<div class="form-group">
              
                <input type="email" required="required"  class="form-control"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="armando, para de zuar meus formularios ehuehueheu"/>
            </div>