<%=@id%>
<div class="panel panel-primary">
    <div class="panel-heading"><center>Escolha o regime da pesquisa</center></div>
  <div class="panel-body">
      <center>
          
              <form name="pdv" action="relatorios_unitarios" method="post">
                   <input type="hidden" name="id" value=<%=@id%>>
                    <br>
                   <button type="submit" class="btn btn-warning">Relatorios  Gás<i class="fa fa-table" aria-hidden="true"></i></button>
              </form>
             
             <form name="pdv" action="relatorios_unitarios" method="post">
                   <input type="hidden" name="id" value=<%=@id%>>
                    <br>
                   <button type="submit" class="btn btn-warning">Relatorios de Água <i class="fa fa-table" aria-hidden="true"></i></button>
              </form>
              <form name="pdv" action="relatorio_unitario_celular" method="post">
                   <input type="hidden" name="id" value=<%=@id%>>
                    <br>
                   <button type="submit" class="btn btn-warning">Relatorios de Credito de Celular <i class="fa fa-table" aria-hidden="true"></i></button>
              </form>
          
      </center>
    
  </div>
  <div class="panel-footer"></div>
</div>