<div class="col-md-3">
<form action="relatorio_detalhado" method="post">
        <input type="hidden" name="tipo_relatorio" value=<%=@tipo_relatorio%>>
        <input type="hidden" name="pdv" value=<%=@pdv_%>>
         <input type="hidden" name="pdd" value=<%=@pdd_%>>
        <input type="hidden" name="entrada" value=3>
        <button type="submit" class="btn btn-primary">Ultimos 30 dias</button>
</form>
</div>